<%= form_with(model: scent, local: true) do |form| %>
  <% if scent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scent.errors.count, "error") %> prohibited this scent from being saved:</h2>

      <ul>
      <% scent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.select :brand_id do %>
    <% Brand.all.each do |c| -%>
    <%= content_tag(:option, c.name, value: c.id) %>
    <% end %>
    <% end %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
