<p id="notice"><%= notice %></p>

<h1>Scents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scents.each do |scent| %>
      <tr>
        <td><%= scent.name %></td>
        <td><%= scent.description %></td>
        <td><%= scent.brand %></td>
        <td><%= link_to 'Show', scent %></td>
        <td><%= link_to 'Edit', edit_scent_path(scent) %></td>
        <td><%= link_to 'Destroy', scent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scent', new_scent_path %>
