<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scent.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @scent.brand.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scent.description %>
</p>

<%= note_display(@scent) %>

<%= link_to 'Edit', edit_scent_path(@scent) %> |
<%= link_to 'Destroy', @scent, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', scents_path %>
